@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-electro: "Electrolize", sans-serif;
  --color-card: #1E293B;
  --color-btn: #F97316
}

@plugin "daisyui";



header {
  position: relative;
  width: 100%;
  height: 670px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.item {
  width: 200px;
  height: 300px;
  list-style-type: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
  transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
}

.rev-header .item:nth-child(1),
.rev-header .item:nth-child(2) {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: none;
  border-radius: 0;
  box-shadow: none;
  opacity: 1;
}

.rev-header .item:nth-child(3) {
  left: 50%;
}

.rev-header .item:nth-child(4) {
  left: calc(50% + 220px);
}

.rev-header .item:nth-child(5) {
  left: calc(50% + 440px);
}

.rev-header .item:nth-child(6) {
  left: calc(50% + 660px);
  opacity: 0;
}


.img3 {
  background-image: url('/public/media/MassEffectAndromedaFeature2.jpg');
  background-position: 37% center;
}

.img2 {
  background-image: url('/public/media/marvel-s-wolverine-ci-regala-un-altra-immagine-cover68d93147c781d.jpg');
  background-position: 25% center;
}

.img1 {
  background-image: url('/public/media/resident-evil-9-il-protagonista-e-stato-svelato-da-un-noto-insider.webp');
  background-position: 20% center;

}

.img0 {
  background-image: url('/public/media/monster-hunter-wilds-v1-1184611-1280x720.webp');
  background-position: 20% 16%;

}

.img4 {
  background-image: url('/public/media/witcher-4-ciri-cover.webp');
  background-position: 43% center;
}

.img5 {
  background-image: url('/public/media/pragmata2.jpg.webp');
  background-position: 20% 30%;
  background-repeat: no-repeat;

}


.content {
  width: min(30vw, 400px);
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  color: white;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: none;
}

.rev-header .content .title {
  font-weight: 400;
  font-family: var(--font-roboto);
  text-transform: uppercase;
}

.rev-header .content .description {
  line-height: 1.7;
  margin: 1rem 0 1.5rem;
  font-weight: 400;
  font-family: var(--font-electro);
  font-size: large;
}

.rev-header .content button {
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  background: var(--color-btn);
  border-radius: 0.25rem;
  padding: 0.75rem;
  cursor: pointer;
}


.rev-header .item:nth-of-type(2) .content {
  display: block;
  animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
  0% {
    filter: blur(5px);
    transform: translateY(calc(-50% + 75px));
  }

  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.rev-header .nav {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  user-select: none;
}

.rev-header .nav .btn {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(0, 0, 0, 0.6);
  margin: 0 0.25rem;
  padding: 0.75rem;
  border-radius: 50%;
  cursor: pointer;
}

.rev-header .nav .btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}


/* Media Query Navbar */

@media screen and (max-width:768px) {
  .logo{
    background: rgba(0, 0, 0, 0.10);
    border-radius: 0.75rem;
  }
}



/* Media Query header */
@media screen and (max-width:768px) {

   .rev-header .content {
    width: 70%;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.9);
  }
   .img1{
    background-position: 0px 1px;
   }
   .img2 {
    background-position: 20% center;
  }
  .img3{
    background-position: 38% center;
  }

  .img4 {
    background-position: 43% center;
  }
 
  .rev-header .item {
    width: 160px;
    height: 270px;
  }

  .rev-header .item:nth-child(3) {
    display: none;
  }

  .rev-header .item:nth-child(4) {
    display: none;
  }

  .rev-header .item:nth-child(5) {
    display: none;
  }

  .rev-header .item:nth-child(6) {
    display: none;
  }
}


@media screen and (min-width:768px) and (max-width:1150px) {

  .rev-header{
    height:590px;
  }

  .rev-header .item {
    width: 130px;
    height: 220px;
  }

  .rev-header .item:nth-child(3) {
    left: 50%;
  }

  .rev-header .item:nth-child(4) {
    left: calc(50% + 140px);
  }

  .rev-header .item:nth-child(5) {
    left: calc(50% + 280px);
  }

  .rev-header .item:nth-child(6) {
    display:none;
  }
}